<div class="card">
                <div class="card-header">
                    <b><center>Select category and click Load to see board.</center></b>
                </div>
                <div class="card-body">
                   <form method="get">
    <select class="form-select" name="category">
       <option value="Astronomy">Astronomy</option>
       <option value="CryptoCurrencies">Crypto Currencies</option>
       <option value="Programming">Programming</option>
   </select>
    <div class="py-2">
        <button type="submit" class="btn btn-primary ">Load</button>
       
    </div>
</form> 
<hr />
</div>
</div>

