<div class="card">
                <div class="card-header">
                    <center><b>Select category and click Load to see board.</b></center>
                </div>
                <div class="card-body">
                   <form method="get">
    <select class="form-select" name="category">
       <option value="Astronomy">Astronomy</option>
       <option value="CryptoCurrencies">Crypto Currencies</option>
       <option value="Programming">Programming</option>
       <option value="Science">Science</option>
       <option value="Philosophy">Philosophy</option>
       <option value="Movies">Movies</option>
       <option value="Religion">Religion</option>
       <option value="Sport">Sport</option>
   </select>
    <div class="py-2">
        <button type="submit" class="btn btn-primary ">Load</button>
       
    </div>
</form> 
<hr />
</div>
</div>

