    <div class="col-md6">
            <div class="card">
                <div class="card-header">
                    <b><center>TORCHAIN rules</center></b>
                </div>
                <div class="card-body">
                    <center><h5 class="card-title"><b>We belive: </b>
                        <b><br />➔ Freedom of speech is a human right. 
                        <br />➔ In your rights and privacy.</b></h5> </center><hr />
                   
                   <p class="card-text">This site allow you to make use of your privileges to privacy and free speech. There is no place for illegal stuff here.
                       Please consider others can be different. Do not insult anybody. Admin is not responsible for anything here but will check posts before publishing to ensure that the content complies with the guidelines.
                       Yours ADMIN :)<
                </div>
            </div>
        </div>