@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}
<partial name="GlobalInformationView" />
   <div class="card">
                <div class="card-header">
                    <center><b>LIVE CHAT beta</b></center>
                </div>
                <div class="card-body">
                <div class="container">
        <div class="row">&nbsp;</div>
        <div class="row">
            <div class="col-2">User</div>
            <div class="col-4"><input type="text" id="userInput" /></div>
        </div>
        <div class="row">
            <div class="col-2">Message</div>
            <div class="col-4"><input type="text" id="messageInput" /></div>
        </div>
        <div class="row">&nbsp;</div>
        <div class="row">
            <div class="col-6">
                <input type="button" id="sendButton" value="Send Message" />
            </div>
        </div>
    </div>
                </div>
                <div class="card-header">
                    <center><b>Messages:</b></center>
                </div>
                <div class="card-footer">
                        <div class="row">
        <div class="col-12">
        </div>
    </div>
    <div class="row">
        <div class="col-6">
            <ul id="messagesList"></ul>
        </div>
    </div>
                </div>
            </div><br />
   


<script src="~/js/signalr/dist/browser/signalr.js"></script>
<script src="~/js/chat.js"></script>

